expose:
  type: ${ if hasKey .ClusterAnnotations "hosted-domain" }ingress${ else}nodePort${ end}
  ingress:
    className: traefik
    hosts:
      core: ${ if hasKey .ClusterAnnotations "hosted-domain" }registry.${ .ClusterName }.${ get .ClusterAnnotations "hosted-domain" }${ end}
  tls:
    certSource: secret
    secret:
      secretName: wildcard-tls
externalURL: ${ if hasKey .ClusterAnnotations "hosted-domain" }https://registry.${ .ClusterName }.${ get .ClusterAnnotations "hosted-domain" }${ end}
global:
  imagePullSecrets: ["suse-registry"]
harborAdminPassword: admin
