defaultNamespace: traefik
helm:
  version: 39.0.0
  chart: traefik
  repo: https://traefik.github.io/charts
  releaseName: traefik
  values:
    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      enabled: true
      listeners:
        web:
          port: 8000
          hostname: ${ if hasKey .ClusterAnnotations "hosted-domain" }"*.${ .ClusterName }.${ get .ClusterAnnotations "hosted-domain" }"${ else }""${ end }
          namespacePolicy:
            from: All
        websecure:
          port: 8443
          hostname: ${ if hasKey .ClusterAnnotations "hosted-domain" }"*.${ .ClusterName }.${ get .ClusterAnnotations "hosted-domain" }"${ else }""${ end }
          namespacePolicy:
            from: All
          protocol: HTTPS
          certificateRefs:
            - name: wildcard-tls
              kind: Secret

labels:
  app: traefik
overrideTargets:
  - clusterSelector:
      matchLabels:
        needs-traefik: true