defaultNamespace: traefik
helm:
  version: 39.0.0
  chart: traefik
  repo: https://traefik.github.io/charts
  releaseName: traefik
  values:
    providers:
      kubernetesGateway:
        enabled: true
    gateway:
      enabled: true
      listeners:
        web:
          port: 8000
          hostname: *.sirius.lab.geeko.me
          namespacePolicy:
            from: All
        websecure:
          hostname: *.sirius.lab.geeko.me
          port: 8443
          protocol: HTTPS
          namespacePolicy:
            from: All
          mode: Terminate
labels:
  app: traefik
overrideTargets:
  - clusterSelector:
      matchLabels:
        needs-traefik: true