defaultNamespace: traefik
helm:
  version: 39.0.0
  chart: traefik
  repo: https://traefik.github.io/charts
  releaseName: traefik
values:
  providers:
    kubernetesGateway:
      enabled: true
labels:
  app: traefik
overrideTargets:
  - clusterSelector:
      matchLabels:
        needs-traefik: true