helm:
  chart: ""
  releaseName: cert-manager-config
  values:
    wildcard:
      enabled: ${ if hasKey .ClusterAnnotations "hosted-domain" }true${ else }false${ end }
      domain: ${ if hasKey .ClusterAnnotations "hosted-domain" }${ .ClusterName }.${ get .ClusterAnnotations "hosted-domain" }${ end }
  valuesFrom:
    - secretKeyRef:
        name: fleet-secrets
        namespace: kube-system
        key: cert-manager-values.yaml
dependsOn:
  - selector:
      matchLabels:
        provides: cert-manager
