helm:
  chart: ""
  releaseName: cert-manager-config
  values:
    wildcard-certificate:
      enabled: ${ if hasKey .ClusterAnnotations "hosted-domain" }true${ else }false${ end }
      domains:
        - ${ if hasKey .ClusterAnnotations "hosted-domain" }*.${ .ClusterName }.${ get .ClusterAnnotations "hosted-domain" }${ else }*.${ .ClusterName }.cluster.local${ end }
        - ${ if hasKey .ClusterAnnotations "hosted-domain" }${ .ClusterName }.${ get .ClusterAnnotations "hosted-domain" }${ else }${ .ClusterName }.cluster.local${ end }
  valuesFrom:
    - secretKeyRef:
        name: fleet-secrets
        namespace: kube-system
        key: cert-manager-values.yaml
dependsOn:
  - selector:
      matchLabels:
        provides: cert-manager
